@media screen and (max-width : 1647px) {
    #carousel_accueil h5 {
        font-size: 40px;
    }
}

@media screen and (max-width : 1399px) {
    nav {
        font-size: smaller;
    }
    nav .nav-item {
        padding: 0;
    }
    header nav #presentation-sous_menus ~ .dropdown-menu {
        left: -345px !important;
    }
    header nav #offreSoins-sous_menus ~ .dropdown-menu {
        left: -483px !important;
    }
    header nav .dropdown-item h3 {
        font-size: 18px;
        font-weight: bold;
    }
    header nav .dropdown-item {
        height: 363px;
        width: 1044px;
        font-size: smaller;
    }
    #carousel_accueil h5 {
        font-size: 32px;
    }
    #accueil_sect1 {
        padding-top: 200px !important;
    }
    #accueil_sect1 h1 {
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 98px;
    }
    #accueil_sect1 h1::after {
        margin: 20px auto 45px auto;
    }
    #accueil_sect2 {
        font-size: 14px;
    }
}

@media screen and (max-width : 1199px) {
    .navbar-brand {
        padding-right: 0 !important;
        margin-right: 0;
    }
    .navbar-brand img {
        width: 150px;
    }
    header nav #presentation-sous_menus ~ .dropdown-menu {
        left: -165px !important;
    }
    header nav #offreSoins-sous_menus ~ .dropdown-menu {
        left: -303px !important;
    }
    header nav .dropdown-item {
        height: 263px;
        width: 864px;
        font-size: smaller;
    }
    header nav .dropdown-item ul {
        padding-right: 10px !important;
    }
    header nav .dropdown-item > div {
        padding-top: 10px !important;
    }
    #carousel_accueil h5 {
        font-size: 28px;
    }
    #accueil_sect1 h1 {
        font-size: 25px;
        left: 111px;
    }
    #accueil_sect1 img {
        width: 70%;
    }
    h2 {
        font-size: 28px !important;
    }
    #accueil_sect2 .card {
        width: 45%;
    }
    #footer_nav h3 {
        font-size: 17px !important;
    }
    .footer_nav_children {
        padding-top: 0px !important;
    }
}

@media screen and (max-width : 991px) {
    .navbar-brand {
        padding: 20px !important;
        margin: auto;
    }
    .navbar-brand img {
        width: 350px;
    }
    header nav .dropdown-item {
        height: auto;
        width: 623px;
        display: block !important;
    }
    #span_truc {
        display: none;
    }
    #carousel_accueil {
        padding-top: 0;
    }
    #carousel_accueil h5 {
        font-size: 20px;
    }
    #accueil_sect1 h1 {
        font-size: 20px;
        left: 65px;
    }
    #accueil_sect1 > div {
        flex-direction: column-reverse;
        align-items: center;
    }
    #accueil_sect1 div {
        width: 100% !important;
    }
    #accueil_sect1 img {
        float: left;
        width: 20%;
        padding-bottom: 100px;
    }
    #accueil_sect2 .card {
        min-width: 281px;
    }
    #accueil_sect4 h5 {
        font-size: 18px;
    }
    #accueil_sect4 {
        font-size: 15px;
    }
    #footer_nav > div {
        flex-direction: column;
        justify-content: space-around !important;
        align-items: center;
    }
    .footer_nav_children {
        position: relative;
        padding: 0 !important;
        text-align: center;
        width: 100%;
    }
    #footer_nav .fa-angle-down {
        display: inline;
    }
    #footer_nav h3.after::after {
        margin: 20px auto 35px auto;
    }
    .footer_nav_children_p {
        position: absolute;
        top: 20px;
        width: 100%;
        background-color: rgb(58, 72, 81);
        padding: 14px;
        display: none;
    }
    .footer_nav_children:hover {
        cursor: pointer;
    }
}

@media screen and (max-width : 767px) {
    .navbar-brand img {
        width: 250px;
    }
    header nav .dropdown-item {
        width: 443px;
        font-size: smaller;
    }
    #accueil_sect1 h1 {
        font-size: 16px;
        left: 48px;
    }
    #accueil_sect2 .card {
        min-width: 100%;
    }
    #accueil_sect3 h2 {
        width: 387px;
        margin: auto;
    }
    #accueil_sect4 img {
        width: 50%;
        margin: auto;
    }
    #accueil_sect4 {
        text-align: center;
    }
    #accueil_sect4 .btn {
        margin-bottom: 70px;
        align-self: center !important;
    }
    footer.mt-5 {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

@media screen and (max-width : 575px) {}