/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.font_roboto {
    font-family: 'Roboto', sans-serif;
}
.font_montserrat {
    font-family: 'Montserrat', sans-serif
}

.nav-item:hover {
    background-color: rgb(230, 230, 230);
}
.nav-link {
    text-transform: uppercase;
}
.bordered_nav-item {
    border-left: 1px solid rgb(230, 230, 230);
}
.bg_turquoise {
    background-color: rgb(46, 167, 176);
}
.col_turquoise {
    color: rgb(46, 167, 176);
}
.nav-item.bg_turquoise:hover {
    background-color: rgb(32, 128, 135);
}
.bg_bleu_fonce {
    background-color: rgb(19, 97, 157);
}
.col_bleu_fonce {
    color: rgb(19, 97, 157);
}
.nav-item.bg_bleu_fonce:hover {
    background-color: rgb(8, 73, 121);
}
.border_turquoise {
    border: 2px solid rgb(46, 167, 176);
}

.after::after {
    content: "";
    display: block;
    margin-top: 20px;
    margin-bottom: 45px;
    width: 100px;
    height: 5px;
    background-color: rgb(46, 167, 176);
    border-radius: 5px;
}
h2.after::after {
    margin: 20px auto 45px auto;
}
h3.after::after {
    width: 40px;
    height: 3px;
    margin-bottom: 35px;
}
/*=========================HEADER==========================*/
/****************nav*********************/
nav {
    box-shadow: 0 1px 20px black;
    z-index: 10;
}
nav .nav-item {
    padding: 0 11px;
}
/***************dropdowns**************/
header nav .dropdown-menu {
    box-shadow: inset 0px 14px 11px -10px rgb(70, 69, 69),
    inset 0px -11px 8px -150px rgb(170, 168, 168);
    border: none;
    padding: 0;
    z-index: 9;
}
header nav #presentation-sous_menus ~ .dropdown-menu {
    left: -274px !important;
}
header nav #offreSoins-sous_menus ~ .dropdown-menu {
    left: -458px !important;
}
header nav .dropdown-item {
    height: 363px;
    width: 1224px;
    background-color: transparent;
}
header nav .dropdown-item:hover {
    box-shadow: inset 0px 14px 11px -10px rgb(70, 69, 69),
    inset 0px -11px 8px -150px rgb(170, 168, 168);
    background-color: rgb(230, 230, 230);
}
header nav .dropdown-item ul {
    padding: 0;
}
header nav .dropdown-item li {
    list-style: none;
}
header nav .dropdown-item a {
    color: black;
    text-decoration: none;
}
header nav .dropdown-item a:hover {
    color: rgb(46, 167, 176);
}
/***************carousel*****************/
#carousel_accueil {
    padding-top: 75px;
}
#carousel_accueil .btn_prev {
    top: 40%;
    left: 32px;
    transform: scale(2, 2);
}
#carousel_accueil .btn_next {
    top: 40%;
    right: 32px;
    transform: scale(2, 2);
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}
#carousel_accueil .carousel-caption {
    color: white;
    top: 15%;
}
/*=========================MAIN============================*/
main {
    transform: translate(0, -250px);
}
/*==========PAGE ACCUEIL==========*/
/***********section 1**************/
#accueil_sect1 a:hover {
    color: rgb(19, 97, 157);
    font-weight: bold;
}
/***********section 2**************/
#accueil_sect2 .card {
    width: 32%;
    min-width: 324px;
}
#accueil_sect2 .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
    cursor: pointer;
}
#accueil_sect2 .card:hover .rounded-circle {
    background-color: rgb(46, 167, 176);
}
#accueil_sect2 .img_blanc {
    display: none;
}
#accueil_sect2 .card:hover .img_blanc {
    display: inline;
}
#accueil_sect2 .card:hover .img_turquoise {
    display: none;
}
/***********section 3*************/
#accueil_sect3 {
    background-image: url("../images/carousel-slick/fond-slick.png");
    position: relative;
}
#accueil_sect3 p {
    opacity: 0.7;
}
.slick_card {
    position: relative;
}
.fond_turquoise_pour_image_slick {
    background-color: rgb(46, 167, 176);
}
.slick_card .img_hover {
    display: none;
    position: absolute;
    top: 0;
    padding: 84.5px 56.5px;
}
.slick_card:hover {
    cursor: pointer;
}
.slick_card:hover .img_fond {
    opacity: 0.3 !important;
}
.slick_card:hover .img_hover {
    display: inline;
}
.accueil_sect3_slider > button {
    background-color: transparent;
    border: none;
}
.slick-prev, .slick-next {
    color: white;
}
.slick-dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -40px;
    left: 40%;
}
.slick-dots li {
    font-size: 30px;
    list-style: none;
    padding: 0 10px;
}
.slick-dots li.slick-active {
    font-size: 50px;
    padding-bottom: 3px;
}
/************section4****************/
#accueil_sect4 .card {
    border: none;
}
#accueil_sect4 .btn:hover {
    background-color: rgb(46, 167, 176);
    color: white;
    cursor: pointer;
}
#accueil_sect4 .btn:hover ~ .card-title {
    color: rgb(46, 167, 176);
}

/*====================  FOOTER  ====================*/
footer {
    transform: translate(0, -80px);
}
footer a {
    color: white;
    font-weight: bold;
}
footer a:hover {
    color: rgb(46, 167, 176);
}
#footer_nav {
    background-color: rgb(36, 51, 61);
    height: 396px;
    font-size: 15px;
}
#footer_nav > div {
    height: 100%;
}
.footer_nav_children {
    z-index: 1;
    width: 33%;
}
#gcom_link {
    background-color: rgb(16, 25, 31);
}
#gcom_link img {
    padding-left: 10px;
}